.my-projects {
  background-color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.my-projects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
background-color: whitesmoke;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a deeper shadow */
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tech-tag {
  background-color: #e0e0e0;
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.github-link,
.live-link {
  background-color: black;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.github-link:hover,
.live-link:hover {
  background-color: orange;
}

.fab,
.fas {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .my-projects {
    padding: 3rem 1rem;
  }

  .my-projects h2 {
    font-size: 2rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-links {
    flex-direction: column;
    gap: 1rem;
  }

  .github-link,
  .live-link {
    width: 100%;
    justify-content: center;
  }
}
