.about {
  padding: 80px;
  margin-right: 140px;
  color: white;
}

.pict {
  padding-top: 114px;
  filter: drop-shadow(10px 10px 10px rgb(17, 14, 12));
  transition: transform 0.5s; /* Added transition to pict itself */
}

.pict:hover {
  transform: scale(0.98);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 97%;
  border-radius: 43px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-col-2 p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-top: 39px;
}

.tab-titles {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: width 0.3s;
}

.tab-links.active-link::after {
  width: 60%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  background: linear-gradient(270deg, #df8908 50%, #b415ff 100.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .pict {
    display: none;
  }

  .about {
    margin: 0;
    padding: 45px 1rem;
  }

  .about-col-2 {
    flex-basis: 100%; /* Full width for text section */
  }

  .about-col-2 p {
    font-size: 29px;
    margin: 0;
    padding-right: 4rem;
  }

  .sub-title {
    font-size: 63px;
    text-align: center;
  }

  .about-col-1 {
    display: none;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 40px 1rem;
  }

  .about-col-2 p {
    font-size: 24px;
    padding-right: 1rem;
  }

  .sub-title {
    font-size: 50px;
    text-align: center;
  }
}
