.about{
  padding: 80px;
  margin-right: 140px;
  color: white;
}
.pict{
  padding-top: 114px;
  filter: drop-shadow(10px 10px 10px  rgb(17, 14, 12));
 
}
.pict:hover{
  transform: scale(0.98);
  transition: transform 0.5s;
}



.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
  
}
.about-col-1 img {
  width: 97%;
  border-radius: 43px;

 
}
.about-col-2{
  flex-basis: 60%;

}
.sub-title{
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.about-col-2 p{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-top: 39px;
}
.tab-titles{
  display: flex;
  justify-content: space-between;
  margin:20px 0 40px ;

}
.tab-links{
  margin-right: 50px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  
}
.tab-links::after{
  content: "";
  width: 0%;
  height: 3px;
  background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: transform 0.3s;
}


.tab-links.active-link::after{
  width: 60%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  
}
.tab-contents ul li span{
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 100.5%);
  background-clip: text;
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; 
  font-size: 14px;
  
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}



@media (max-width: 768px) {
  .pict{
    display: none;
  }

  .about{
    margin-left: 120px;

    /* margin-right: 45px; */
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    /* text-align: center; */
 
    width: 34px;
   
    
    padding-left: 1rem;
    padding-right: 1rem;
   
    padding-top: 45px;
  }
  .about-col-2 p{
    font-size: 29px;
    margin-left: -23px;
    padding-right: 4rem;
  }
  .pict{
    display: none;
  }


  .sub-title{
    font-size: 63px;
    text-align: center;

    
  }
  @media (max-width: 854px){

  }
  .about-col-1{
    display: none;
  }
  .pict{
    display: none;
  }
}